<!-- Footer Component -->
<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__section">
                <h4 class="footer__title">TechIssue</h4>
                <p class="footer__text">Transformando ideias em soluções digitais inovadoras para empresas em Angola.</p>
                <div class="footer__social">
                    <a href="https://facebook.com" target="_blank" class="footer__social-link"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/techissueoficial/" target="_blank" class="footer__social-link"><i class="fab fa-instagram"></i></a>
                    <a href="https://api.whatsapp.com/send/?phone=244976599361&text&type=phone_number&app_absent=0" target="_blank" class="footer__social-link"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://twitter.com" target="_blank" class="footer__social-link"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            
            <div class="footer__section">
                <h4 class="footer__title">Links Rápidos</h4>
                <ul class="footer__links">
                    <li><a href="index.html" class="footer__link">Home</a></li>
                    <li><a href="sobre.html" class="footer__link">Sobre</a></li>
                    <li><a href="servicos.html" class="footer__link">Serviços</a></li>
                    <li><a href="contato.html" class="footer__link">Contato</a></li>
                </ul>
            </div>
            
            <div class="footer__section">
                <h4 class="footer__title">Serviços</h4>
                <ul class="footer__links">
                    <li><a href="servicos.html#chatbots" class="footer__link">Chatbots</a></li>
                    <li><a href="servicos.html#sites" class="footer__link">Desenvolvimento Web</a></li>
                    <li><a href="servicos.html#apps" class="footer__link">Aplicativos Mobile</a></li>
                </ul>
            </div>
            
            <div class="footer__section">
                <h4 class="footer__title">Contato</h4>
                <ul class="footer__contact">
                    <li><i class="fas fa-envelope"></i>techissue2@gmail.com</li>
                    <li><i class="fas fa-phone"></i> +244 976 599 361</li>
                    <li><i class="fas fa-map-marker-alt"></i> Luanda, Angola</li>
                </ul>
            </div>
        </div>
        
        <div class="footer__bottom">
            <p>&copy; 2025 TechIssue. Todos os direitos reservados.</p>
            <div class="footer__bottom-links">
               <a href="termos-uso.html" class="footer__bottom-link">Termos de Uso</a>
                <a href="politica-privacidade.html" class="footer__bottom-link">Política de Privacidade</a>
            </div>
        </div>
    </div>
</footer>
