<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TechIssue - Automação Inteligente com Chatbots, Desenvolvimento de Sites e Apps para Empresas Digitais em Angola">
    <meta name="keywords" content="chatbots, automação, desenvolvimento web, apps, Angola, TechIssue">
    <title>Navbar</title>
    
</head>  
<body>
   <header class="headerr">
        
<nav class="navbar">
    <div class="container">
        <div class="navbar__wrapper">
            <a href="index.html" class="navbar__img">
                <!-- Controle o tamanho da logo ajustando a classe 'navbar__logo' no CSS -->
                <img src="../assets/images/TechIssue _Logo .png" class="navbar__logo" alt="TechIssue Logo">
            </a>
            
            <div class="navbar__toggle" id="navbar-toggle">
                <span class="navbar__toggle-bar"></span>
                <span class="navbar__toggle-bar"></span>
                <span class="navbar__toggle-bar"></span>
            </div>
            
            <ul class="navbar__menu" id="navbar-menu">
                <li class="navbar__item"><a href="index.html" class="navbar__link" data-page="index">Home</a></li>
                <li class="navbar__item"><a href="sobre.html" class="navbar__link" data-page="sobre">Sobre</a></li>
                <li class="navbar__item"><a href="servicos.html" class="navbar__link" data-page="servicos">Serviços</a></li>
                <li class="navbar__item"><a href="contato.html" class="navbar__link" data-page="contato">Contato</a></li>
                <li class="navbar__item navbar__item--cta">
                    <a href="https://api.whatsapp.com/send/?phone=244976599361&text&type=phone_number&app_absent=0" class="btn btn--sm btn--outline">Fale Conosco</a>
                </li>
            </ul>
            
            
        </div>
    </div> 
 
</body>  
</nav>
</header>  
</html>